/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --blue: #1d3f83;
  --white: #fff;
  --black: #000;
  --wall: #f0f3ff;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-primary { background-color: var(--blue) !important;}
.bg-white { background-color: var(--white) !important}
.bg-wall { background-color: var(--wall) !important;}
.text-center { text-align: center;}
.text-white { color: var(--white);}
.fw-semi-bold { font-weight: 600;}
.active { background: var(--wall); margin: 0 50px}
.rounded { border-radius: 1rem !important;}

/* sidebarnav */
.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
  min-height: 100vh !important;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  width: 100%;
  margin-left: 15rem;
}


/* footer */
#footer .ant-typography {margin-bottom: 0;}
