/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --blue: #1d3f83;
  --white: #fff;
  --black: #000;
  --grey: #6f7f8b;
  --wall: #f0f3ff;
  --success: #34c784;
  --danger: #ea3943;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-primary { background-color: var(--blue) !important;}
.bg-white { background-color: var(--white) !important}
.bg-wall { background-color: var(--wall) !important;}
.bg-success { background-color: var(--success) !important;}
.bg-danger { background-color: var(--danger) !important;}
.text-primary {color: var(--blue);}
.text-center { text-align: center;}
.text-white { color: var(--white);}
.text-grey {color: var(--grey);}
.fw-semi-bold { font-weight: 600;}
.active { background: var(--wall); margin: 0 50px}
.rounded { border-radius: 1rem !important;}
.rounded-top { border-radius: 1rem 1rem 0 0 !important;}
.cursor-pointer { cursor: pointer; }


.shadow-navbar-scrolled { box-shadow: 0 1px 6px 0 rgb(32 33 36/28%); }

#page-content-wrapper {
  width: 100%;
  margin-top: 56px;
}

#float-menu {
  bottom: 40px; 
  right: 40px; 
  z-index: 1000; 
  width: 50px; 
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-check:focus+.btn, .btn:focus {
  box-shadow: unset;
  outline: 0;
}


/* footer */
#footer .ant-typography {margin-bottom: 0;}

/* card */
.card { transition: all .15s ease-in-out }
.card:hover { box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);}

/* table */
.table>:not(caption)>*>* {
  vertical-align: middle;
  padding: .8rem 0.5rem;
}

/* page details */
#crypto-description p { color: var(--grey) }

/* card */
#card { width: 32%;}

/* box cryptos details */
.box { flex: 1 0 49%; margin-right: 1%; }
.box:nth-child(2) { margin-right: 0;}



/* MEDIA QUERY */
@media screen and (max-width: 991px) {
  .navbar-collapse { height: 100vh;}
}
@media screen and (max-width: 767px) {
  #card { width: 100%;}
  .box { flex: 0 1 100% }
}

@media screen and (min-width: 992px) {
  #page-content-wrapper { margin-top: 72px; }
}